*{
    padding: 0;
    margin: 0;
    background-color: #B4A2A4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    
    body > header #head{
        background-color: #302D2E;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        #Calafate{
            height: 100%;            
        }
        
           
        #local{
            height: 40px;
            background-color: #302D2E;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            margin-left: 50px;
            
    
            #localization-logo{
                height: 50px;
            }
    
            #cep{
                color: #fff;
                margin-top: 10%;
                align-items: center;
                background-color: #302D2E;
            }
            
            /* 
            O &:hover referencia o próprio pai no nesting
            ou seja aqui está basicamente dizendo que 
            o #local irá receber um :hover 
            */
    
            &:hover{
                opacity: 50%;
    
            }
        }
    
        #searchBar{
            background-color: #fff;
            width: 700px;
            height: 40px;
            border-radius: 50px;
            border-style: none;
            margin-left: 170px;
            margin-right: 100px;
        }
    
        img{
            height: 30%;
            background-color: #302D2E;
            color: #fff;
            
    
        }
    
        .art-fav-shop{
            margin: 0 10px ;
        }
    
        #perfil{
            text-decoration: none;
            background-color: #302D2E;
            display: flex;
            flex-direction: row;
            margin-left: 200px;
    
            .cad-enter{
                background-color: #302D2E;
                color: #fff;
                margin-top: 10%;
            }
            img{
                height: 50px;
            }
    
            #cad:hover{
                color: #B4A2A4;
            }

            #ent:hover{
                color: #B4A2A4;
            }
        }
    
    }
    
    body > header footer nav{
        background-color: #4D4D4F;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
       
            a{
                background-color: #4D4D4F;
                text-decoration: none;
                white-space: nowrap;
                color: #fff;
                height: 20px;
            }
        
            #paints{
                margin-left: 30px;
            }
    
    }
    input[type="checkbox"]:checked{
        all:unset;
        border-radius: 10px;
        background-color: f8f8f80c;
        background-image: url(img/checkbox-svgrepo-com.svg);
        transition: 0.7s;
        width: 20px;
        height: 20px;
    }

    body main section div{
        height: 1000px;
        width: 200px;
        background-color: #fff;
    }

     /* 
        incremento 20/04/2024
        página cadastro de usuários 
    */

   

    .container{
        padding: 5%;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 400px;
        background-color: white;
        margin: 5% 10%  
     
    }

    .container p{
        background-color: #fff;
        font-weight: 600;        
    }

    input[type=email],[type=password],[type=text], [type=number], [type=date] {
        width: 60%;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        margin: 3px 0 16px 0;       
        background-color: #fff;
        color:#000;

    }

    label{
        width: 80px;
        background-color: #fff;
        font-size: 20px;
        font-weight: 600;
        
    }

    i{
        width: 30px;
        font-size: 23px;
        background-color: #f8f8f80c;
        margin: 3px 0 0 4px;
        padding: 1px;
        cursor:pointer;
        position:absolute;
        left: 58%;
    }

    #pass{
        background-color: #fff;
        position: relative;
        
    }  
    
    #panel, #remember{
        display: flex;
        align-items: baseline;
        background-color: #fff;
        margin: 0 0 10px 0;
        font-weight: 500;
        
    }
    #remember input{
        margin: 0 10px 0 0;
        scale: 1.3;
        
    }

    #botton{
        border-radius: 15px;                 
    }

    #botton p{
        background-color: #302D2E;
        color:#fff;
        font-size: 25px;
        border-radius: 10px;
        padding: 0 10px;
        width: 80px;
    }

    .entrar, .login, .forgotpass{
        font-size: 15px;
        font-weight: 500;
        margin: 0 0 0 20px
        
    }

    #panel a{
        background-color: #fff;
        text-decoration: underline;
        margin: 0 0 0 5px;
        color:#000;
        font-weight: 600;
    }

    #terms{
        font-size: 14px;
    }

    #createacount{
        width: 170px;
        height: 30px;
        background-color: #302D2E;
        color:#fff;        
        border-radius: 10px;
        padding: 0 10px;
        margin: 10px 0;        
    }

    #createacount p{
        width: 150px;
        background-color: #302D2E;
        font-size: 16px;
    }


     /* 
        incremento 15/05/2024
        página cadastro de obras de arte
    */
    main {
        display: flex;
        flex-direction: column;
        margin: 60px;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }


    section1 {
        display: flex; 
        background-color: white;
        width: 700px;
        height: 650px;
               
    }

    section2 {
        background-color: white;
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;        
    }

    section1a, section1b{
        background-color: white;
        margin: 20px;
    }



    textarea{
        width: 90%;
        height: 100px;
        resize:none;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        margin: 3px 0 16px 0;       
        background-color: #fff;
        color:#000;
    }

    #containerRegWork{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    #containerRegWork > div  {
        width: 750px;
        height: 800px;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #table{
        width: 750px;
        display: flex;
        flex-direction: row;
    }

    #selectFile{
        width: 200px;
        height: 40px;
        background-color: #302D2E;
        align-items: center;  
        justify-content: center; 
        border-radius: 10px;
        margin: 0 0 15px 0;
    }

    #send {
        width: 120px;
        height: 40px;
        background-color: #302D2E;
        align-items: center;  
        justify-content: center; 
        border-radius: 10px; 
    }


    #selectFile p {
        height: 20px;
        font-size: 18px;
        text-decoration: underline;
        color: #fff;
        background-color: #302D2E;
        margin: 8px 0;

    }

    #send p {
        height: 20px;
        font-size: 25px;
        color: #fff;
        background-color: #302D2E;
        margin: 0 25px 10px ;    
    }

    #Form {
        width: 750px;
        height: 500px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 30px;
        align-items: center;
    }

    #regWork {
        width: 250px;
    }

    #colun1, #colun2 {
        margin: 20px;
        width: 450px;
        height: 450px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
              
    }

    #Form, lable, input, textarea, #table, h2, p{
        background-color: #fff;
    }

    #colun1 input, #colun2 input {
        height: 20px;
        width: 300px;
        
    }

    section1 div, a, h5, li, svg{
        background-color: white;                   
    }

    section2 div, a, h1, li, span, svg{
        background-color: white;
    }

    section1a, section1b{
        width: 280px;
    }

    /* estrelas */

    .rating {
        margin: 20px 0;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.3rem;
        --stroke: #666;
        --fill: #02D2E;
      }
      
      .rating input {
        appearance: unset;
      }
      
      .rating label {
        cursor: pointer;
      }
      
      .rating svg {
        width: 2rem;
        height: 2rem;
        overflow: visible;
        fill:rgb(206, 209, 209);
        stroke: var(--fill);
        stroke-linejoin: bevel;
        stroke-dasharray: 12;
        animation: idle 4s linear infinite;
        transition: stroke 0.2s, fill 0.5s;
      }
      
      @keyframes idle {
        from {
          stroke-dashoffset: 24;
        }
      }
      
      .rating label:hover svg {
        stroke: var(--fill);
      }
      
      .rating input:checked ~ label svg {
        transition: 0s;
        animation: idle 4s linear infinite, yippee 0.75s backwards;
        fill: var(--fill);
        stroke: var(--fill);
        stroke-opacity: 0;
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
      }
      
      @keyframes yippee {
        0% {
          transform: scale(1);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30% {
          transform: scale(0);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30.1% {
          stroke: var(--fill);
          stroke-dasharray: 0;
          stroke-linejoin: miter;
          stroke-width: 8px;
        }
      
        60% {
          transform: scale(1.2);
          fill: var(--fill);
        }
      }
      
/*fim estilo estrelas*/

.section hr{
width: 300px;
}

.section h1{
    font-size: 18px;
}

.section p{
    font-size: 15px;
    margin: 0 10px 0 0;
}

.section input{
    border: none;
}

.section #description{
    margin: 10px 0 20px 0;
    display: flex;
}

#value{
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
}

#addcar{
    width: 280px;
    height: 45px;
    background-color: #302D2E;
    padding: 16px 0 0 0;
}

#addcar p{
    color: #fff;
    align-items: center;
    background-color: #302D2E;

}

section1b button{
    margin: 10px;
}

#autor{
    display: flex;
    font-weight: 500;
    margin: 10px 0;
}

#autname {
    text-decoration:underline ;    
}

#worktype{
    display: flex;
    font-weight: 500;
    justify-content: space-around;
}

#chat div, #chat div p{
    background-color: #706f6f;
    color:#fff
}

#chat div{
    width: 200px;
    height: 30px;
    padding: 4px;
    border: none;
}

#chat{
    margin: 10px 45px;
}

#contact{
    padding: 10px;
}

#optionpaymant{
    width: 300px;
    display: flex;
    font-size: 9px;
    text-align: center;
    justify-content: space-between;
}

.icons{
    display: flex;
    width: 32px;
    background-color: #fff;   
}

#icon{
    width: 200px;
    display: flex;
    margin: 10px 55px;
    justify-content: space-between;
    background-color: #fff; 
}

#feedback{
    width: 600px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 30px 50px 0 ;
}

#sendcomment {
    width: 80px;
    height: 30px;
    margin: 0 0 0 530px;    
}

#sendcomment button{
    background-color: #a6a0a0;
    width: 80px;
    height: 30px;
}

#sendcomment p{
    background-color: #a6a0a0;
    color:#fff;
}

#separatesection2{
    width: 550px;
    margin: 60px 0 30px 50px;
}

#comments{
    width: 480px;
    margin: 0 15px;
}

#section2b{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
}

.userfeedback{
    display: flex;
    height: 20px;
    background-color: #fff;
}

.userfeedback div {
    align-items: flex-start;
    width: 210px;
    height: 20px;
    margin: 0 10px 0 0;
    border-radius: 10px;
    background-color: #e0dede;   
}

.userfeedback div div{
    background-color: rgb(255, 225, 143);
    
}

div.qlt{
    width:90% ;
}

div.usrfb{
    width: 70%;
}

div.shpp{
    width: 45%;
}