body {
    background-color: #B4A2A4;
}

/*
    
$$\   $$\                           $$\                     
$$ |  $$ |                          $$ |                    
$$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
$$$$$$$$ |$$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
$$  __$$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
$$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
$$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
\__|  \__| \_______| \_______| \_______| \_______|\__|      
    
*/
header {
    width: 100%;
    height:auto;
    background-color: #302D2E;
}

header nav {
    width: auto;
    height: auto;
    background-color: #302D2E;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav img {
    background-color: #302D2E;
    max-height: 40px;
}

.left-logo{
    background-color: #302D2E;
    max-height: 140px;
}

#local{
    height: 40px;
    background-color: #302D2E;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-left: 50px;
    

    #localization-logo{
        height: 50px;
    }

    #cep{
        color: #fff;
        margin-top: 10%;
        align-items: center;
        background-color: #302D2E;
    }
    
    /* 
    O &:hover referencia o próprio pai no nesting
    ou seja aqui está basicamente dizendo que 
    o #local irá receber um :hover 
    */

    &:hover{
        opacity: 50%;

    }
}

#searchBar{
    background-color: #fff;
    width: 700px;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    margin-left: 170px;
    margin-right: 100px;
}
/*
img{
    height: 30%;
    background-color: #302D2E;
    color: #fff;
}*/

.art-fav-shop{
    margin: 0 10px ;
}

#perfil{
    text-decoration: none;
    background-color: #302D2E;
    display: flex;
    flex-direction: row;
    margin-left: 200px;

    .cad-enter{
        background-color: #302D2E;
        color: #fff;
        margin-top: 10%;
    }
    img{
        height: 50px;
    }

    #cad:hover{
        color: #B4A2A4;
    }

    #ent:hover{
        color: #B4A2A4;
    }
}

header footer {
    background-color: #4D4D4F;
    height: auto;
}

/*

$$$$$$$\                  $$\           
$$  __$$\                 $$ |          
$$ |  $$ | $$$$$$\   $$$$$$$ |$$\   $$\ 
$$$$$$$\ |$$  __$$\ $$  __$$ |$$ |  $$ |
$$  __$$\ $$ /  $$ |$$ /  $$ |$$ |  $$ |
$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
$$$$$$$  |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |
\_______/  \______/  \_______| \____$$ |
                              $$\   $$ |
                              \$$$$$$  |
                               \______/ 

*/
/*body*/
#user-bio{
    width: 90%;
    height: auto;
    min-height: 50px;
    background-color: white;
    margin-top: 50px;
    margin-left: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*#user-bio div{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

#profile-main {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
}

#profile-img {
    background-color: gray;
    width: 115spx;
    height: 115px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;

    img{
        width: inherit;
        height: inherit;
        border-radius: inherit;
        
    }
}

#profile-text {
    background-color: white;
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

    #user-name {
        background-color: white;
    }

    #user-btns {
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }

    #user-btns-follow {
        background-color: #302D2E;
        color: #fff;
        display: flex;
        flex-direction: row;
        width: auto;
        height: 50px;
        border-radius: 10px;
        margin-right: 10px;
        align-items: center;
        cursor: pointer;

        img {
            background-color: #302D2E;
            width: 40px;
            height: 100%;
        }

        p {
            background-color: #302D2E;
            margin-right: 5px;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }

    #user-btns-chat {
        background-color: #302D2E;
        cursor: pointer;
        border-radius: 10px;
        margin-right: 10px;
        
        img {
            background-color: #302D2E;
            margin: 0 5px;
        }
    }

    #user-btns-more {
        background-color: #302D2E;
        color: #fff;
        border-radius: 10px;

        p {
            background-color: #302D2E;
            font-size: 1.9rem;
            margin: 0 5px;
        }
    }
}

/*

$$\      $$\                 $$\           $$\         $$\   
$$$\    $$$ |                $$ |          $$ |      $$$$ |  
$$$$\  $$$$ | $$$$$$\   $$$$$$$ | $$$$$$\  $$ |      \_$$ |  
$$\$$\$$ $$ |$$  __$$\ $$  __$$ | \____$$\ $$ |        $$ |  
$$ \$$$  $$ |$$ /  $$ |$$ /  $$ | $$$$$$$ |$$ |        $$ |  
$$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ |        $$ |  
$$ | \_/ $$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$ |      $$$$$$\ 
\__|     \__| \______/  \_______| \_______|\__|      \______|

*/
 /*inserir o codigo do modal 1 aqui*/
 
/*=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-==-=-*/
#links-text {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    
    a {
        background-color: #fff;
    }

    #linkBtn {
    margin-left: 5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #fff;
    }
}

/*

$$\      $$\                 $$\           $$\        $$$$$$\  
$$$\    $$$ |                $$ |          $$ |      $$  __$$\ 
$$$$\  $$$$ | $$$$$$\   $$$$$$$ | $$$$$$\  $$ |      \__/  $$ |
$$\$$\$$ $$ |$$  __$$\ $$  __$$ | \____$$\ $$ |       $$$$$$  |
$$ \$$$  $$ |$$ /  $$ |$$ /  $$ | $$$$$$$ |$$ |      $$  ____/ 
$$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ |      $$ |      
$$ | \_/ $$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$ |      $$$$$$$$\ 
\__|     \__| \______/  \_______| \_______|\__|      \________|
                                                               
*/
/*Modal dos links do artista */
/*Background do modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.links-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: #000;
    background-color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Header do modal*/
#links-modal-header, 
#links-modal-header h2 {
    padding: 2px 16px;
    background-color: white;
}

/*Body do modal*/
#links-modal-body, 
#links-modal-body nav, 
#links-modal-body h4 {
    padding: 2px 16px;
    background-color: white;
}

#links-modal-body a {
    padding: 2px 16px;
    background-color: white;
    margin-top: 10px;
}
/*Fim do body do modal*/

/*
        
 $$$$$$\            $$\                                  $$$$$$\             $$\     $$\             $$\               
$$  __$$\           $$ |                                $$  __$$\            $$ |    \__|            $$ |              
$$ /  \__| $$$$$$\  $$$$$$$\   $$$$$$\   $$$$$$\        $$ /  $$ | $$$$$$\ $$$$$$\   $$\  $$$$$$$\ $$$$$$\    $$$$$$\  
\$$$$$$\  $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\       $$$$$$$$ |$$  __$$\\_$$  _|  $$ |$$  _____|\_$$  _|   \____$$\ 
 \____$$\ $$ /  $$ |$$ |  $$ |$$ |  \__|$$$$$$$$ |      $$  __$$ |$$ |  \__| $$ |    $$ |\$$$$$$\    $$ |     $$$$$$$ |
$$\   $$ |$$ |  $$ |$$ |  $$ |$$ |      $$   ____|      $$ |  $$ |$$ |       $$ |$$\ $$ | \____$$\   $$ |$$\ $$  __$$ |
\$$$$$$  |\$$$$$$  |$$$$$$$  |$$ |      \$$$$$$$\       $$ |  $$ |$$ |       \$$$$  |$$ |$$$$$$$  |  \$$$$  |\$$$$$$$ |
 \______/  \______/ \_______/ \__|       \_______|      \__|  \__|\__|        \____/ \__|\_______/    \____/  \_______|
                                                                                                                       
*/
/*biografia do usuário*/
#user-bio-text {
    background-color: white;
    text-align: justify;
    text-indent: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#profile-rating {
    background-color: #fff;
    width: 30%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #profile-rating-stars {
        background-color: #fff;
        margin-top: 35px;

        h3, p {
            background-color: #fff;
        }

        /*Animação das estrelas*/
        .rating {
            background-color: #fff;
            width: 200px;
            display: flex;
            flex-direction: row-reverse;
            gap: 0.3rem;
            --stroke: #666;
            --fill: #ffc73a;
        }

        .rating input {
            appearance: unset;
        }

        .rating label {
            cursor: pointer;
        }

        .rating svg {
            background-color: #fff;
            width: 2rem;
            height: 2rem;
            overflow: visible;
            fill: transparent;
            stroke: var(--stroke);
            stroke-linejoin: bevel;
            stroke-dasharray: 12;
            animation: idle 4s linear infinite;
            transition: stroke 0.2s, fill 0.5s;
        }

        @keyframes idle {
        from {
            stroke-dashoffset: 24;
        }
        }

        .rating label:hover svg {
            stroke: var(--fill);
        }

        .rating input:checked ~ label svg {
            transition: 0s;
            animation: idle 4s linear infinite, yippee 0.75s backwards;
            fill: var(--fill);
            stroke: var(--fill);
            stroke-opacity: 0;
            stroke-dasharray: 0;
            stroke-linejoin: miter;
            stroke-width: 8px;
        }

        @keyframes yippee {
        0% {
            transform: scale(1);
            fill: var(--fill);
            fill-opacity: 0;
            stroke-opacity: 1;
            stroke: var(--stroke);
            stroke-dasharray: 10;
            stroke-width: 1px;
            stroke-linejoin: bevel;
        }

        30% {
            transform: scale(0);
            fill: var(--fill);
            fill-opacity: 0;
            stroke-opacity: 1;
            stroke: var(--stroke);
            stroke-dasharray: 10;
            stroke-width: 1px;
            stroke-linejoin: bevel;
        }

        30.1% {
            stroke: var(--fill);
            stroke-dasharray: 0;
            stroke-linejoin: miter;
            stroke-width: 8px;
        }

        60% {
            transform: scale(1.2);
            fill: var(--fill);
        }
        }

    }

    #profile-rating-stats {
        background-color: #fff;
        margin-bottom: 35px;

        h3, p, b {
            background-color: #fff;
        }
    }
}

/*

 /$$$$$$$$                    /$$                        
| $$_____/                   | $$                        
| $$     /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$$ /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$__/| $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$   | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$   |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/    \______/  \______/    \___/   \_______/|__/      
                                                        
*/

#body-footer {
    background-color: #302D2E;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*p, div {
        background-color: #302D2E;
        color: #fff;
    }*/

    #footer-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;

        p {
            display: flex;
            align-self: center;
            border-bottom-style: solid;
            padding: 10px 100px 10px 100px;
            color: #fff;
        }

        #footer-about-links {
            margin-top: 10px;
            width: auto;

            * {
                padding: 0 5px 10px 5px;
            }
        }
    }

    #footer-copyright,
    #footer-help {
        display: flex;
        align-items: center;
        color: #fff;
    }

    #footer-help {
        margin-right: 10%;
        padding: 0 0 0 10%;

        a{
            color: #fff;
            text-decoration: underline;
        }

        a:hover{
            color: #B4A2A4;
        }
    }
}